.text-style {
    font-family: 'Poppins', sans-serif;
    padding:15px;
}

.simple-text-style {
    font-family: 'Poppins';
}

 .text-block {
    background-color: #d3e1f6;
    border-left: 6px solid #007bff;
    color: #212544;
    padding: 30px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.content {
    height: 100%;
}