{% extends 'base.html' %}

{% block body %}
    <div>
        <p>
            <div>
                <form action="" method="post" enctype="multipart/form-data">

                    <div class='some-page-wrapper'>
                      <div class='row'>
                        <div class='column'>
                            <div class="input-column">
                                <label for="LoadFileImage">Выберите картинку для применения стиля</label>
                                <div class="button">
                                    <input id="imgInpOne" type="file" name="image_content" lang="ru" id="LoadFileImage" >
                                </div>
                                <div>
                                    {% if content_image %}
                                      <img id="img_content_upload" src="static/images/upload_img/{{ content_image }}" >
                                    {% else %}
                                      <img id="img_content" src="{{ content_image }}" >
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class='column'>
                            <div class="input-column">
                                <label for="LoadFileContent">Выберите стиль</label>
                                <div class="button">
                                    <input id="imgInpTwo" type="file" name="style_content" lang="ru" id="LoadFileContent">
                                </div>
                                <div>
                                {% if style_image %}
                                    <img id="img_style_upload" src="static/images/upload_img/{{ style_image }}">
                                {% else %}
                                    <img id="img_style" src="{{ style_image }}">
                                {% endif %}
                                </div>
                            </div>
                        </div>

                      </div>

                      <div class='row'>
                        <div class='double-column'>
                          <div class='output-column'>
                            <div class="button">
                                <input type="submit" value="Получить результат" id="upload">
                            </div>

                            <div>
                            {% if stylized_image %}
                                <img src="static/images/stylized_img/{{ stylized_image }}">
                            {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </form>
            </div>
        </p>

    </div>
{% endblock %}